html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

footer p{
    color: #FFF;
}

.nav-item{
    margin:2px 5px;
}

.navbar-nav > li > a{
    color: #FFF;
}

.container-home-title h1 {
    color: #FFF;
    text-align: center;
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: normal;
}
