@{
    ViewData["Title"] = "Iron Body";
}

<link rel="stylesheet" href="~/css/Home.css" asp-append-version="true" />

<div class="container-fluid">
    <br />
    <div class="container-home-title">
        <h1>  Iron Body</h1>
    </div>
</div>
